<!DOCTYPE html>
<html lang="en">
    <head>
        {% block top_resource %}
            {% include resource('front/top-resource') %}
        {% endblock %}    
        <title>{{title}}</title>
    </head>
    <body class="static-container">
        <header>
            {% block header %}
                {% include resource('front/header') %}
            {% endblock %}
        </header>
        <main>
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    {% include resource('front/message') %}
                    {% block content %}{% endblock %}
                </div>
            </div>
            <aside>
                {% block sidebar %}
                    {% include resource('front/sidebar') %}
                {% endblock %}
            </aside>
        </main>
        <footer>
            {% block footer %}
                {% include resource('front/footer') %}
            {% endblock %}
        </footer>
        {% block bottom_resource %}
            {% include resource('front/bottom-resource') %}
        {% endblock %}
    </body>
</html>