<footer class="ct-u-backgroundMotive ct-u-colorWhite ct-u-paddingBoth20">
<div class="ct-prefooter">
    <div class="container">
        <div class="ct-prefooter-inner ct-u-relative">
            <a href="#home" class="btn-toTop ct-js-btnScroll">
                <i class="fa fa-angle-up ct-js-btnScroll"></i>
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="ct-postfooter text-center">
        <span>&#169; 2018 TAWWA TRIP ORGANIZER | Powered by PT. KKS | Developed by <a href="https://xenon.id">XENON.ID</a></span>
    </div>
</div>
</footer>